<form class="form-control">
  <div class="mb-3">
    <label for="user-name" class="form-label">Enter Your Name</label>
    <input type="text" class="form-control" id="user-name" required>
  </div>
  <select class="form-select" aria-label="Default select example" required>
    <option selected>Select Screening to make reservation for</option>
    <option value="1">One</option>
  </select>
  <div>
    <label for="seats" class="form-label">How Many Seats would You Reserve?</label>
    <input type="number" class="form-control" id="seats" required>
  </div>
<small>Available seats for selected screening: <span></span></small>
  <br>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
