<form [formGroup]="createScreeningForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="movie-title" class="form-label">Movie Title</label>
    <input
      formControlName="movieTitle"
      type="text"
      class="form-control"
      id="movie-title"
      [ngClass]="{'is-invalid' : createScreeningForm.get('movieTitle').invalid && createScreeningForm.get('movieTitle').touched}">
  </div>
  <small
    *ngIf="createScreeningForm?.get('movieTitle').invalid && createScreeningForm.get('movieTitle').touched"
    class="error-msg text-danger"
  >Movie title cannot be empty
  </small>
  <div class="mb-3">
    <label for="screening-time" class="form-label">Screening time</label>
    <input
      formControlName="screeningDateTime"
      type="datetime-local"
      class="form-control"
      id="screening-time">
  </div>
  <div class="mb-3">
    <label for="total-seats" class="form-label">Available Seats</label>
    <input
      formControlName="totalSeats"
      type="number"
      class="form-control"
      id="total-seats">
  </div>
  <div class="mb-3">
    <label for="img-url" class="form-label">Image Url</label>
    <input
      formControlName="imgUrl"
      type="text"
      class="form-control"
      id="img-url">
  </div>
  <button
    [disabled]="createScreeningForm.invalid"
    type="submit" class="btn btn-primary">Submit
  </button>
  <div
    *ngIf="isSubmitted"
    class="submit-feedback text-success">Form was submitted
  </div>
</form>
